@import "../../../styles";

.content {
  display: flex;
}

.title {
  margin: 10px;
  text-transform: uppercase;
  color: white;
  font: 20px Arial, sans-serif;
}

.fill {
  flex: 1;
}

.spacer {
  height: 25px;
}

.row {
  display: flex;
}

.button-header {
  padding-top: 10px;

  button {
    background: $primaryColor;
    color: white;
    height: 40px;
  }
}

.container {
  background: linear-gradient(to right, $primaryColor, $secondaryColor);
  min-height: 90vh;
  padding-bottom: .5vh;
}

.single-component {
  width: 50% !important;
}
