@import "../../../../styles";

.group-form {
  padding: 10px;
  min-width: 350px;

  h1 {
    padding-bottom: 25px;
  }

  .button-wrapper {
    padding-top: 25px;
  }

  .form-field, input {
    width: 100% !important;
  }
}

.primary-button {
  background: $primaryColor !important;
}

.email-button {
  margin-right: 5px;
}

.close-button {
  background: $secondaryColor !important;
}

@media screen and (max-width: 580px) {
  .group-form {
    min-width: 190px;
  }
}
