.container {
  text-align: center;

  .input-wrapper {
    width: 100% !important;
  }

  .card {
    margin: 50px 25%;
  }
}

.button-wrapper {
  padding-top: 25px;
  button {
    min-width: 150px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    .card {
      margin: 25px 0 !important;
    }
  }
}


