@import "../../../../styles";

.card {
  margin: 10px;
}

.member {
  font-weight: bold !important;
}

.actions {
  text-align: right;

  button {
    background: $primaryColor;
    color: white;
  }
}

.secondary-button {
  background: $secondaryColor;
  color: white;
}

.table {
  width: 100% !important;
}
