<div class="container">
    <div class="spacer"></div>
    <div class="cards">
        <mat-card class="card left">
            <mat-card-header>
                <mat-card-subtitle>Apartment</mat-card-subtitle>
                <mat-card-title>Duties</mat-card-title>
            </mat-card-header>
            <mat-card-content class="content">
                <div>
                    <mat-form-field class="input-wrapper">
                        <input matInput type="number" placeholder="Cycle length" [formControl]="length" maxlength="1"
                               required>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-footer class="actions">
                <button mat-raised-button color="primary" (click)="submit()"
                        [disabled]="!length.value || !members.length">Save
                </button>
            </mat-card-footer>
        </mat-card>
        <mat-card class="card right">
            <mat-card-header>
                <mat-card-subtitle>Duties</mat-card-subtitle>
                <mat-card-title>Order</mat-card-title>
            </mat-card-header>
            <mat-card-content class="content">
                <table class="table" *ngIf="members.length">
                    <tr>
                        <th>#</th>
                        <th>Member</th>
                        <th>Swap</th>
                    </tr>
                    <tr *ngFor="let member of members; let i = index" [attr.data-index]="i">
                        <td>{{i + 1}}</td>
                        <td>{{member.username}}</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip selected [disabled]="i === members.length-1" class="secondary-button"
                                          (click)="moveDown(i)">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="icon">
                                        keyboard_arrow_down
                                    </mat-icon>
                                </mat-chip>
                                <mat-chip selected [disabled]="i === 0" class="primary-button" (click)="moveUp(i)">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="icon">
                                        keyboard_arrow_up
                                    </mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
