@import "../../../../styles";

.card {
  margin: 10px;
}

.container {
  background: linear-gradient(to right, $primaryColor, $secondaryColor);
  min-height: 90vh;
  padding-bottom: .5vh;
}

.spacer {
  height: 25px;
}

.actions {
  text-align: right;
}

.cards {
  display: flex;

  .left {
    width: 40%;

    button {
      margin-right: 25px;
    }

    .input-wrapper {
      margin-left: 15px !important;
    }
  }

  .right {
    width: 60%;
  }
}

.primary-button, .secondary-button {
  color: white;
  cursor: pointer;
}

.primary-button {
  background: $primaryColor !important;
}

.secondary-button {
  background: $secondaryColor !important;
}

.table {
  width: 100%;
  text-align: left !important;
  padding: 25px 10px;
  background: #f5f5f5;
  border-radius: 5px;
}
