@import "../../../../styles";

.card {
  margin: 10px 0;
}

.actions {
  text-align: right;
}

.primary-button {
  background: $primaryColor !important;
  color: white !important;
}

.button-cell {
  .primary-button {
    margin-right: 5px;
  }
}

.no-data {
  margin: 15px;
  padding-top: 25px;
  color: $standardGrey;
}

table {
  width: 100% !important;
}


.bank-number {
  color: #1680b7;
  font-weight: bold;
  padding-left: 15px;
  font-size: 1rem;
}
