<div class="group-form">
    <h1 mat-dialog-title>Add new apartment</h1>
    <form class="form" [formGroup]="groupForm" (ngSubmit)="onCreation()" *ngIf="!loadingSpinner">
        <mat-form-field class="form-field">
            <input matInput type="text" formControlName="name" placeholder="Address/Name" required>
        </mat-form-field>
        <div class="button-wrapper">
            <div mat-dialog-actions class="auth-actions-btn">
                <button mat-flat-button color="primary" type="submit" [disabled]="!groupForm.valid">Save</button>
            </div>
            <div *ngIf="loadingSpinner" class="spinner">
                <mat-progress-spinner></mat-progress-spinner>
            </div>
        </div>
    </form>
</div>
