<mat-toolbar *ngIf="!(isLoggedIn$ | async)" class="logged-out-toolbar">
    <img [routerLink]="['/']" class="logo" src="../assets/tenantsWhite.png" alt="Tenants">

    <span class="spacer"></span>

    <mat-icon class="icon" aria-hidden="false" aria-label="icon" [routerLink]="['/login']">vpn_key</mat-icon>
</mat-toolbar>

<mat-toolbar *ngIf="isLoggedIn$ | async" class="logged-in-toolbar">
    <img [routerLink]="['/']" class="logo" src="../assets/tenants.png" alt="Tenants">

    <span class="spacer"></span>

    <mat-icon (click)="onLogout()" class="secondary-icon" aria-hidden="false" aria-label="icon"> power_settings_new</mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>
