/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primaryColor: #13b977;
$secondaryColor: #2ecfca;
$offColor: #172b4c;

